// Шрифты
@font-face {
    font-family: 'Motiva Sans', sans-serif;
    src: url(/fonts/motiva-sans-webfont.ttf);
}

// Цвета
$mainFont               : 'Motiva Sans', Helvetica, Arial, sans-serif;
$bgHeader               : #171a21;